@font-face {
 font-family: 'Playfair Display', sans-serif;
 src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}  
*{font-family: "Playfair Display", sans-serif;
  }

.center{
  display:inline-block;
  color:blue;
  margin-right:20px;
  list-style:none;
  padding:0;
  }
.center:hover {
  color:red;
}
.wrapper{
  max-width:600px;
  margin: auto;
}
/*----------задание 2*/
.wrapper-task2{
  max-width:470px;
  margin: auto;
  padding:34px;
  color:#626262;
  box-shadow: 0px 0px 8px 0px #7b8084;
}
.container{
  margin:0 auto;
  max-width:420px;
}
.type{
  text-transform: uppercase;
}
h2{
  font-size:26px;
  font-stretch:ultra-condensed;
}
.picture{
  max-width:420px;
  display:block;
  box-sizing: border-box;
  margin:0 auto 34px;
  max-width:420px;
}
/*------------задание 3*/
.wrapper-task3{
  max-width:960px;
  margin:0 auto;
  padding:42px;
  color:#626262;
  box-shadow: 0px 0px 8px 0px #7b8084;
}
.list{
  margin:0;
  padding:0;
  font-size: 0;
}
.element {
  display: inline-block;
  max-width:420px;
  /*margin: 0 auto;*/
  color:#626262;
  font-size: 16px;
  margin-right: 100px;
 }

 .element:nth-child(2n) {
  margin-right: 0;
 }