html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height:100vh;
  background-color:#fff;
  font-weight: 400;
  color: #999999;;
  font-size: 14px;
  line-height: 26px;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


/*--navigation--*/

----------------------
.page-header{
  margin-bottom: 112px;
}
.navigation-container {
  display: flex;
  min-height: 65px;  
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  line-height: 34px;  
  color:#95e1d3;
}

.navigation-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item a{
  display: block;
  padding: 5px 16px;
  font-family: 'Montserrat', sans-serif;
  color: #95e1d3;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s linear;
}

.navigation-list-item a::after {
  display: inline-block;
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #f38181;
  transition: width 0.2s linear;
}
.navigation-list-item a:hover{
  color: #f38181;
}
.navigation-list-item a::after:hover{
  width: 100%;
}




/*Services*/
.services-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.photography::before {
  background: url(../img/icon_alarm.png) no-repeat;
}
.web-design::before {
  background: url(../img/icon-graph.png) no-repeat;
}
.creativity::before {
  background: url(../img/icon_computer_ok.png) no-repeat;
}
.seo::before {
  background: url(../img/icon_book.png)  no-repeat;
}
.css-html::before {
  background: url(../img/icon_home.png)  no-repeat;
}
.digitale::before {
  background: url(../img/icon_image.png) no-repeat;
}



/*page footer*/

.page-footer {
  background-color: #323232;
  height: 88px;
  margin: 0;
  padding: 20px 0;
}

.footer-text {
  font-family: "Open Sans", Arial, sans-serif;
  color: #fefefe;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.footer-text a {
  font-family: "Open Sans", Arial, sans-serif;
  color: #46bfa9;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}
