html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #fff;
  font-weight: 400;
  color: #999999;
  font-size: 14px;
  line-height: 26px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*--navigation--*/

---------------------- .page-header {
  margin-bottom: 112px;
}
.navigation-container {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  line-height: 34px;
  color: #95e1d3;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item a {
  display: block;
  padding: 5px 16px;
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s linear;
}

.navigation-list-item a::after {
  content: "";
  height: 3px;
  display: block;
  transform: scaleX(0);
  background-color: #f38181;
  transition: transform 0.2s linear;
}
.navigation-list-item a:hover {
  color: #f38181;
}
.navigation-list-item a:hover::after {
  transform: scaleX(1);
}

/*Services*/
.services {
  margin-top: 0;
  padding: 0 0 94px;
}
.services-title {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 66px;
}

.subtitle {
  font-family: "Kaushan Script", "Times New Roman", Times, serif, cursive;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  margin: 0;
  margin-bottom: 25px;
  color: #333333;
}

.services-title-main {
  margin: 0;
  width: 315px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
}

.services-title-main::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 0;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}
.services-li-item {
  margin-top: 0;
  margin-bottom: 100px;
  padding-left: 80px;
  width: 382px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.services-li-item:nth-child(n + 4) {
  margin-bottom: 0;
}

.serv-li-item-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333333;
}

.serv-li-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.services-li-item::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.photography::before {
  background: url(../img/icon_alarm.png) no-repeat;
}
.web-design::before {
  background: url(../img/icon_graph.png) no-repeat;
}
.creativity::before {
  background: url(../img/icon_computer_ok.png) no-repeat;
}
.seo::before {
  background: url(../img/icon_book.png) no-repeat;
}
.css-html::before {
  background: url(../img/icon_home.png) no-repeat;
}
.digital::before {
  background: url(../img/icon_image.png) no-repeat;
}
/*team section*/
.team {
  margin-top: 0;
  margin-bottom: 94px;
  padding: 0;
}
.team-section-title {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.team-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 0;
}

.team-title {
  margin: 0;
  width: 270px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
}

.team-description {
  font-family: Roboto;
  width: 950px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 100px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 82px;
  padding: 0;
}

.team-list-member {
  position: relative;
  flex: 0 0 380 px;
}

.team-list-member-photo {
  margin-bottom: 30px;
  transition: all 0.2s linear;
}

.team-list-member:hover .team-list-member-photo {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #95e1d3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    360deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  width: 380px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s linear;
}

.team-list-member:hover .overlay {
  transform: translate(-10px, -10px);
  opacity: 1;
}

.social-icon-list {
  position: absolute;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 224px;
  margin: 0;
  padding: 0;
}

.social-icon-list-item {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: #fce38a;
}

.social-icon-list-item:hover {
  cursor: pointer;
}
.social-icon-list-item a {
  display: block;
}

.facebook {
  background-image: url(../img/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../img/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}

.pinterest {
  background-image: url(../img/pinterest.png);
  background-position: center;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url(../img/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon-list-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-icon-list-item:hover {
  background-color: #95e1d3;
  transition: all 0.2s linear;
}

.member-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.name {
  font-family: "Montserrat", Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
.occupation {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}
/*page footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding: 20px 20px;
  border-top: 1px solid #e7e7e7;
}

.footer-text {
  font-family: " Montserrat", Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.footer-text a {
  font-family: " Montserrat", Arial, sans-serif;
  color: #f38181;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}

.subscribe {
  display: flex;
}

.subscribe-input {
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
}

.subscribe-btn {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  text-transform: uppercase;
  height: 40px;
  background-color: #95e1d3;
  border: 1px solid #95e1d3;
  text-align: center;
}
