@media (max-width: 767px) {
    .page-header {
      background-image: url('../img/banner_tablet.jpg');
    }
  
    .navigation-container{
     flex-direction: column-reverse;   
    }
    .navigation-list {
      text-align: center;
    }
  

  
    .home {
      text-align: center;
      margin: auto;
      margin-top: 35px;
    }
    
  }
  
  
  @media (min-width: 768px) {
    .container {
      width: 670px;
    }
  
    .page-header {
      background-image: url('../img/banner2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: inherit;
    }
  
    .page-nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin: 0 auto;
      padding: 0;
      padding-top: 45px;
      margin-bottom: 150px;
    }
  
    .site-nav {
      margin: 0;
      padding: 0;
    }
  
    .home {
      text-align: center;
      margin: 0 auto;
    }
  
  
    .home-title {
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
    }
  
    .home-slogan {
      /*display: block;
      margin: 0 auto;*/
      width: 405px;
      text-align: center;
      margin-bottom: 35px;
    }
  
    .home-btn {
      width: 220px;
    }
  
    .partners-header-title {
      width: 420px;
    }
  
    .partners-list {
      width: 520px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
    }
  
    .partners-list-item {
      flex: 0 0 236px;
      margin-bottom: 55px;
    }
  
    .partners-list-item:nth-last-child(-n +2) {
      margin-bottom: 0;
    }
    
    .partners-btn {
      width: 200px;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 957px) {
      .partners-list-item:nth-last-child(-n +2) {
        margin-bottom: 0;
      }
    }
    
    @media (min-width: 958px) {
      .container {
        width: 942px;
      }
  
      .page-header {
        background-image: url('../img/banner3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    
      .partners-list {
        width: 942px;
        display: flex;
        justify-content: space-between;
      }  
  
      .partners-list-item {
        flex: 0 0 220px;
      }
  
      .partners-list-item:nth-last-child(-n + 4) {
        margin-bottom: 0;
      } 
    }













/* Tablet */

@media (min-width: 768px){
    .container{
        width: 728px;
    }

    .page-header{
        background-image: url(../img/banner_tablet.jpg);
    } 

   
    .navigation-container{
        padding-top: 380px;
        margin-bottom: 150px;
        flex-direction: row-reverse;    
    }

    .page-logo{
        flex-grow: 1;
    }
    
    .navigation-list{   
        margin-bottom: 0; 
    }
    .header-section{
        padding-bottom: 236px;
    }

    .header-section-title{
        margin-bottom: 40px;
        font-size: 52px;
        line-height: 62px;
        padding: 0 80px;
        text-align: center;
    }

    .header-section-text{
        margin-bottom: 3rem;
        font-size: 2.4rem;
        line-height: 2.9rem;
    }

    .partners{
        padding-bottom: 4rem;
    }
    .ppartners-header-title{
        margin-bottom: 30px;
    }

    .partners-list{
        flex-direction: row;
        justify-content: center;
    }

    .partners-list-item{
        margin: 0 10px 52px;
    }

    .partners-list-item:nth-child(n+2){
        margin-right: 0;
    }
    .partners-list-item:nth-last-child(-n+2){
        margin-bottom: 0;
    }

}

/* Desktop */
@media (min-width: 960px){
    .container {
        width: 940px;
        padding-left: 0;
        padding-right: 0;
    }
}



@media (min-width: 1440px){
    .container{
        width: 960px;    
    }
    
    .page-header{
        background-image: url(../img/banner_desktop.jpg);   
    }

    .partners{
        padding-bottom: 75px;
    }

    .partners-title{
        margin-bottom: 35pxm;
    }

    .partners-list{
        padding: 0;
        margin-top: 0;
        width: 100%;
    }

    .partners-list-item:nth-last-child(-n+4){
        margin-bottom: 0;
    }

}
